<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Spotify</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" >
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h4 class="display-4">
				Spotipy Application
			</h4>
			<p>Learn information about a song's audio features. And soon to come, learn information about your own music library.</p>
			<p class="lead">
    			<a class="btn btn-secondary btn-md" href="https://github.com/JulianChips/SpotipyProject" target=_blank role="button">Github</a>
  			</p>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-3">
				<div class="input-group">
					<aside class="filters">
			            <div class="panel panel-default">
			              <div class="panel-heading">Song Search</div>
			              <div class="panel-body">
			                <form method="POST" action="/" role="form">
			                  <div class="form-group">
			                    <ul class="list-group" id="filters">
			                      <li class="filter list-group-item">
			                        <label for="artist">Enter an Artist Name</label>
			                        <input class="form-control" id="artistInput" name="artist" type="text" placeholder="Kendrick Lamar">
			                      </li>
			                      <li class="filter list-group-item">
			                        <label for="album">Enter an Album From The Artist</label>
			                        <input class="form-control" id="albumInput" name="album" type="text" placeholder="To Pimp A Butterfly">
			                      </li>
			                      <li class="filter list-group-item">
			                        <label for="song">Enter a Song From That Album</label>
			                        <input class="form-control" id="songInput" name="song" type="text" placeholder="Alright">
			                      </li>                      
			                    </ul>
			                  </div>
			                  <button id="filter-btn" type="submit" class="btn btn-primary">Find Audio Features</button>
			                </form>
			              </div>
			            </div>
			          </aside>

				</div>
		</div>
		<div class="col-7">
			<ul class="list-group my-4">
			  <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
			    Stat Number 1
			    <span class="badge badge-primary badge-pill p-2">Number</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    Stat Number 2
			    <span class="badge badge-primary badge-pill p-2">Number</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    Stat Number 3
			    <span class="badge badge-primary badge-pill p-2">Number</span>
			  </li> -->
			</ul>
		</div>
		<div class="col-1"></div>
	</div>
<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>